.Rproj.user
.Rhistory
.RData
.Ruserdata
project_1B/Screen Recording 2025-10-13 at 00.33.22.mov
social_networking/multilingual/outputs/embeddings.npy
social_networking/pho_bert/outputs_phobert/phobert_embeddings.npy
project_2A/social_networking/traditional/outputs_traditional/svd256.joblib
project_2A/social_networking/pho_bert/outputs_phobert/phobert_embeddings.npy
project_2A/social_networking/traditional/outputs_traditional/traditional_embeddings.npy
project_2A/social_networking/multilingual/outputs/embeddings.npy
